<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Scores</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Student Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Student Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/teachers}">Teacher Management</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6">
            <h1>View Scores</h1>
            <h3>Sinh viên:</h3>
            <p th:text="${student.studentName}"></p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Môn học</th>
                        <th>Điểm</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Duyệt và hiển thị danh sách điểm -->
                    <tr th:each="score : ${student.scores}">
                        <td th:text="${score.subject}"></td>
                        <td th:text="${score.score}"></td>
                    </tr>
                </tbody>
            </table>
            <h4>Kết quả: <span th:text="${student.getPass() ? 'Đỗ' : 'Trượt'}"></span></h4>
            <h4>Điểm quá trình: <span th:text="${student.processScore}"></span></h4>
            <h4>Điểm thành phần: <span th:text="${student.componentScore}"></span></h4>
            <h4>Điểm tổng kết: <span th:text="${overallScore}"></span></h4>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-bcbEY7AWU77rdlR5bU2fWxPIwDJF1fQ6pS6a8s6e3F5AfAf+LEmGfLW7Fj7Wav"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
